In [11]:
import lux
import pandas as pd
import warnings

In [14]:
# Constants
values_column_names = ["time", "branch" , "organization", "substation", "transformer_code", "App SW", 
                        "V_L1", "I_L1", "W_L1", "QL_L1", "QC_L1","cos_L1", "angle_L1",
                        "V_L2", "I_L2", "W_L2", "QL_L2", "QC_L2","cos_L2", "angle_L2",
                        "V_L3", "I_L3", "W_L3", "QL_L3", "QC_L3","cos_L3", "angle_L3",
                        "temp_amb",
                        "aplus_L1", "aminus_L1", "RplusL_L1", "RminusL_L1", "RplusC_L1", "RminusC_L1", 
                        "aplus_L2", "aminus_L2", "RplusL_L2", "RminusL_L2", "RplusC_L2", "RminusC_L2",
                        "aplus_L3", "aminus_L3", "RplusL_L3", "RminusL_L3", "RplusC_L3", "RminusC_L3"]

script_path = os.getcwd()
data = pd.read_excel(script_path + '/../DATA/LVSM_Def.xlsx',  engine='openpyxl', header=None, names=values_column_names)

# Cleaning data table
data = data.drop([0], axis = 0)        # Dropping the headers
data = data.drop(["aplus_L1", "aminus_L1", "RplusL_L1", "RminusL_L1", "RplusC_L1", "RminusC_L1", 
                  "aplus_L2", "aminus_L2", "RplusL_L2", "RminusL_L2", "RplusC_L2", "RminusC_L2",
                  "aplus_L3", "aminus_L3", "RplusL_L3", "RminusL_L3", "RplusC_L3", "RminusC_L3"], axis=1)

data = data.reset_index(drop = True)

In [21]:
# Copy of the dataframe to split date and hour
data_new = data.copy(deep=True)

In [20]:
data_new

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

In [26]:

warnings.filterwarnings('ignore')

data_new.intent = ["substation", "V_L1", "V_L2", "I_L1", "I_L2", "W_L1", "W_L2", "QL_L1", "QC_L2"]
data_new

,time,branch,organization,substation,transformer_code,App SW,V_L1,I_L1,W_L1,QL_L1,...,cos_L2,angle_L2,V_L3,I_L3,W_L3,QL_L3,QC_L3,cos_L3,angle_L3,temp_amb
0,2019-06-16 01:00,AE,SZZ,S201,TR1,003F,234,65,14964,1988,...,1,4,236,95,22376,1763,0,1,3,30
1,2019-06-16 02:00,AE,SZZ,S201,TR1,003F,233,57,13091,1110,...,1,2,234,97,22524,2872,0,1,5,29
2,2019-06-16 03:00,AE,SZZ,S201,TR1,003F,236,55,12847,1309,...,1,1,237,88,20859,2505,0,0,7,29
3,2019-06-16 04:00,AE,SZZ,S201,TR1,003F,234,135,30517,4860,...,1,4,236,170,39156,6128,0,0,7,29
4,2019-06-16 05:00,AE,SZZ,S201,TR1,003F,235,102,23069,4399,...,1,2,237,107,24779,2064,0,1,3,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167543,2020-06-08 10:00,AE,SZZ,S868,TR1,083E,235,113,25752,6301,...,0,27,237,100,23328,3403,-611,0,34,23
167544,2020-06-08 11:00,AE,SZZ,S868,TR1,093E,235,64,15021,272,...,0,189,237,51,10530,0,-5577,0,214,23
167545,2020-06-08 12:00,AE,SZZ,S868,TR1,083E,234,152,-31174,9449,...,0,15,236,119,27600,5558,-142,0,18,23
167546,2020-06-08 13:00,AE,SZZ,S868,TR1,083E,234,164,-28258,8839,...,0,8,235,137,31710,5540,0,0,9,23
167547,2020-06-08 14:00,AE,SZZ,S868,TR1,083E,233,158,-29764,9540,...,0,9,235,130,30010,6168,0,0,11,23

In [24]:
interestingVis = data_new.exported
interestingVis

[]

In [ ]:
interestingVis[0]

In [ ]:
print(interestingVis[0].to_matplotlib())